@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
  background: url("/imagens/pexels-oleg-magni-861318.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#contato {
  text-align: center;
  background: url("/imagens/pexels-mario-pais-cie-4172523.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.photo {
  border-radius: 50%;
  width: 18%;
  margin-top: 5%;
  /* margin: auto 50%; */
}

.logo {
  background-color: rgb(61, 61, 61);
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 50%;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 0rem 5rem;
}

.top-bar > ul {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  padding: 20px;
}

ul > li {
  padding-left: 5rem;
  font-size: 1.2rem;
}

footer {
  height: 30vh;
  color: rgb(61, 61, 61);
}

.btn-voltar {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  padding: 10px;
  border-radius: 5px;
  background: #d1cfcfab;
  color: #000000be;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgb(61, 61, 61);
}

footer > a > img {
  margin: 10px;
}

header > ul > li > a {
  color: rgb(61, 61, 61);
  font-weight: bold;
}

.tec-grid {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 80vh;
  background-color: blueviolet;
  align-content: center;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(61, 61, 61);
}

.about-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-bio {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.856);
  width: 42%;
  text-align: start !important;
  padding: 20px;
}
